/*######### 	General Styles 				#############################################################################################################*/
.img-gallery img 							{ background-color: #fff; padding: 5px; }

/*######### 	Image List Styles 			#############################################################################################################*/
.img-gallery .img-list 						{ overflow: hidden; margin-left: 15px; margin-right: 15px; }
.img-gallery .slide 						{ height: 110px; position: relative; right: 0; overflow: hidden; transition: right 1s ease; 
												-webkit-transition: right 1s ease; -moz-transition: right 1s ease; -o-transition: right 1s ease; }
.img-gallery .sub-img 						{ float: left; height: 90px; margin: 5px; cursor: pointer; opacity: .8; transition: opacity 1s ease;
												-webkit-transition: opacity 1s ease; -moz-transition: opacity 1s ease; -o-transition: opacity 1s ease; }
.img-gallery .sub-img:first-child 			{ margin-left: 0px; }
.img-gallery .sub-img:last-child 			{ margin-right: 0px; } 
.img-gallery .sub-img:hover 				{ opacity: 1; }
.img-gallery .main-img 						{ overflow: hidden; }
.img-gallery .main-img .img-wrapper 		{ position: absolute; left: 0; }
.img-gallery .main-container 				{ position: relative; left: 0px; }

/*######### 	Caption Styles 				#############################################################################################################*/
.img-gallery .caption 						{ position: relative; bottom: 0px; transition: All 1s ease; -webkit-transition: All 1s ease; 
												-moz-transition: All 1s ease; -o-transition: All 1s ease; }
.img-gallery .caption h4, .caption p 		{ opacity: .9; filter: alpha(opacity=90); /* msie */ background-color: #212628; padding: 5px 15px; color: #ebebeb;
												display: inline-block; margin: 10px; }
/*.img-gallery .caption h4 					{ margin-right: 100%; }*/
.img-gallery .caption p 					{ margin-top: 5px; }

/*######### 	Controls Styles 			#############################################################################################################*/
.img-gallery .back, 
.img-gallery .forward 						{ position: relative; background-color: #4a4a4a; padding: 5px 10px; left: 5px; opacity: .8; filter: alpha(opacity=80); /* msie */
												cursor: pointer; top: 65px; z-index: 10; transition: opacity 1s ease; -webkit-transition: opacity 1s ease;
												-moz-transition: opacity 1s ease; -o-transition: opacity 1s ease; -webkit-touch-callout: none; -webkit-user-select: none;
												-khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.img-gallery .big-control 					{ font-size: 40px; }
.img-gallery .back:hover, 
.img-gallery .forward:hover 				{ opacity: 1; filter: alpha(opacity=100); /* msie */ }